
{% if item.value.aliases is defined and item.value.aliases|length > 0 %}
{% for scriptalias in item.value.aliases %}
WSGIScriptAlias {{ scriptalias.location }} {{ scriptalias.target }} process-group={{ item.value.processgroup|default('%GLOBAL') }} application-group={{ item.value.applicationgroup|default('%RESOURCE') }}
{% endfor %}
{% endif %}
