
{% if item.value.aliases is defined and item.value.aliases|length > 0 %}
{% if item.value.applicationgroup %}
WSGIProcessGroup {{ item.value.applicationgroup }}
{% else %}
WSGIProcessGroup {{ item.key }}
{% endif %}
{% for scriptalias in item.value.aliases %}
WSGIScriptAlias {{ scriptalias.location }} {{ scriptalias.target }}

{% endfor %}
{% endif %}
