# {{ ansible_managed }}
# NOTE: mod_wsgi can not coexist in the same apache process as
# mod_wsgi_python3.  Only load if mod_wsgi_python3 is not
# already loaded.

<IfModule !wsgi_module>
LoadModule wsgi_module modules/mod_wsgi.so
</IfModule>

{% if not wsgi_embedded %}
WSGIRestrictEmbedded on
{% endif %}
{% if wsgi_ignore_deprecation %}
WSGIPythonWarnings ignore::DeprecationWarning::
{% endif %}
WSGIPythonOptimize {{ wsgi_optimize }}
WSGISocketPrefix /dev/shm/wsgi

{% if wsgi_apps is defined and wsgi_apps|length > 0 %}
{% for vhost, wsgi_config in wsgi_apps.items() %}
WSGIDaemonProcess {{ vhost }} processes={{ wsgi_config.processes }} threads={{ wsgi_config.threads }} user={{ wsgi_config.user }} group={{ wsgi_config.group }} umask={{ wsgi_config.umask }}

{% endfor %}
{% endif %}
